@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    -fx-font-family: "Montserrat", sans-serif;
}

Label {
    -fx-text-fill: #ee6e83ad;
}

AnchorPane {
    -fx-background-image: url("../Resources/BlueBackground.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.inputText {
    -fx-background: none;
    -fx-background-color: #050627;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #ee6e84,
        #fcc798
    );
    -fx-text-fill: #ee6e83ad;
}

.inputText .arrow {
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-background-color: #fcc798;
}

Button {
    -fx-cursor: hand;
}

.mainButton {
    -fx-border-radius: 0;
    -fx-background-color: #050627;
    -fx-text-fill: #ee6e84;
}

.mainButtonBG {
    -fx-background-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #ee6e84,
        #fcc798
    );
}

.simpleButton {
    -fx-background-color: none;
    -fx-text-fill: #ee6e84;
}

.navButton {
    -fx-background-color: none;
    -fx-padding: 10px;
    -fx-text-fill: #ee6e84;
}

.navButtonSelected {
    -fx-background-color: none;
    -fx-padding: 10px;
    -fx-text-fill: #ee6e84;
    -fx-font-weight: 700;
}

.logoutButton {
    -fx-background-color: #ee6e84;
    -fx-padding: 10px;
    -fx-text-fill: #050627;
}

.titleLabel {
    -fx-font-weight: 700;
}

TableView {
    -fx-background-color: #050627;
    -fx-text-fill: #ffffff;
    -fx-border-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #ee6e84,
        #fcc798
    );
}

TableColumnHeader {
    -fx-border-width: 0;
    -fx-border-color: none;
    -fx-background-color: #050627;
}

.table-row-cell {
    fx-padding: 20px;
    -fx-alignment: center ;
}
/* 
    
.table-row-cell:selected{
    -fx-background-color: #12133f;
    -fx-text-fill: #ffffff
}

.table-row-cell:filled:hover{
    -fx-background-color: #12133f;
    -fx-text-fill: #ffffff
} */

.cartelera {
    -fx-border-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #ff60c2,
        #fcc798
    );
}

.titleText {
    -fx-font-weight: 700;
    -fx-font-size: 36px;
    -fx-font-family: "Montserrat Bold";
    -fx-text-fill: #ee6e84;
    /* -fx-effect: dropshadow(gaussian, rgba(238, 110, 132, 0.6), 20, 0.5, 0, 0),
        dropshadow(gaussian, rgba(238, 110, 132, 0.4), 30, 0.5, 0, 0); */
    -fx-text-alignment: center;
    -fx-padding: 20px;
}

.optionButton {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(
        from 0% 0% to 100% 100%,
        #ee6e84,
        #fcc798
    );
    -fx-text-fill: #ee6e84;
    -fx-font-size: 14px;
    -fx-font-family: "Montserrat Regular";
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-padding: 10px 20px;
}

.optionButton:hover {
    -fx-background-color: #ee6e84;
    -fx-text-fill: #050627;
    -fx-border-color: #050627;
}
